
.home-right img {
    width: 100%;
}
.home-container {
    background-color: rgb(133, 116, 92);
    padding: 0%;
}
.home {
    padding: 0%!important;
}
body{
  background-image: url(../assets/ZenBG.png);
}
@font-face {
  font-family: sultan;
  src: url(../fuentes/tipografias/sultan/SultanCafe_PERSONAL_USE.ttf);
}
@font-face {
  font-family: viking;
  src: url(../fuentes/tipografias/viking/VikingGothicW01-Regular.woff);
}
@font-face {
  font-family:mjolnir ;
  src: url(../fuentes/tipografias/Mjölnir/Mjolnir.woff2);
}
@font-face{
  font-family: carrito;
  src: url(../fuentes/Rurikvikingfont-Regular.ttf);
}
/*------------------- MENU ---------------------------*/
.sticky-top{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
.nav-bar {  
    padding-top: 1%;
    padding-left: 5%;
    background-color: #6c5d35;
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; /* Fijo */
    z-index: 99999; /* Que se ponga por encima */
    top: 0; /* Fijo arriba */
    left: 0;
    background-color: #6c5d35;
    overflow-x: hidden; /* No scroll horizontal */
    padding-top: 60px; 
    transition: 0.5s; /* 0.5 transicion silde */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* MENU LINKS */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: sultan;
    text-decoration: none;
    font-size: 50px;
    color: #e8d6bb;
    display: block;
    transition: 0.3s;
   }

  /* HOVER MENU LINKS */
  .sidenav a:hover {
    color: #e69612;
  }

.menu-btn  {
    font-size:40px;
    cursor:pointer;
    color: #e8d6bb;
  }
  .menu-btn:hover{
    color: #e69612;
  }
  
  /* BTN CERRAR SIDE MENU */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    color: #e8d6bb;
  }
  .row{
    margin-right:0px !important;
    margin-left:0px !important
  }
  #btnCart{
    width: 40px;
  }
  .menuBot{
    width: 40px;
    display: flex;
  }
  #qCarritoBtn {
    color: #e8d6bb;
    font-family: 'viking';
    font-size: 0.7em;
}
 
.nav1{
  display: flex;
  align-items: center ;
  justify-content: space-between;
}
.boarNav{
  font-family: sultan;
  color: #e8d6bb;
  font-size: 3em;
}
  .cart a{
    display: flex;
    justify-content: flex-end;
    padding: 8px 8px 8px 32px;
    font-family: sultan;
    text-decoration: none;
    font-size: 50px;
    color: #e8d6bb;
  }
  .btnClose{
    font-family: carrito !important;
    font-size: 2em !important;

  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
   /*------------------- MODAL ---------------------------*/

  .modal{
  width: 750px;
  height: 400px;
  position: absolute;
  background-image: url(../assets/modal.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  top:0;
  left:0;
  display: flex;

  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0; 
}
.contenido{
  width: 40%;
  height: 40%;
  margin: auto;
}
.textoModal{
  font-size: 5em;
    text-align: center;
    font-family: 'viking';
    color: #e8d6bb;
}
.botones{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.googleBtn{
  width: 100% !important;
  display: flex;
  justify-content: center;
}
.marginSoyMenor{
  margin-top: 5%;
}
#cerrar{
  display: none;
}
#cerrar + label{
  position: absolute;
  z-index: 9999;
  font-family: carrito;
  color: #6c5d35;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  right: 10px;
  cursor: pointer;
  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~.modal{
  display: none;
}
@keyframes modal{
  100% {
    visibility: visible;
  opacity: 1;
  }
} 
.btnModal{
    background-color: #6c5d35;
    color: #e8d6bb;
    font-family: 'Raleway', sans-serif;
    border: 0px;
    border-radius: 3px;
    height: 40px;
}
/*---runas---*/
.runas{
  background: url(../assets/Banner-principal-2.jpg);
  padding: 0px !important;
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float:none !important;
}
.runasMobile{
  display: none;
}
/*---video*/
#video{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0.5%;
}
.quienesSomosVideo{
  display: flex;
  align-items: center;
}
  /*------------------- QUIENES SOMOS ---------------------------*/
 #quienesSomos{
/*   background-image: url(../assets/QSomos.jpg);;
   background-position: center;
   background-size: 100%; */
   width: 100%;
   margin:0px !important;
   height: 500px;
   display: flex;
 }
 .btnQuienesSomos{
  background-color: #6c5d35;
  color: #e8d6bb;
  font-family: 'Raleway', sans-serif;
  border: 0px;
  border-radius: 3px;
  height: 40px;
  width: 52%;
 }
 .estampaDiv{
   display: flex;
   justify-content: center;
   align-items: center;
 }
  #estampaBoar{
    height:50%;
    width:60%;
    margin-top: 3%;
    margin-bottom: 3%;
     }
     .quienesSomosTexto{
      display: flex;
      flex-direction: column;
      justify-content: center;
    } 
  .quienesSomosTitulo{
    font-family:viking ;
    color: #6c5d35;
    font-size:6em;
    margin: auto;
  }
  .divQuienesSomos{
    display: flex;
    padding-left:0px !important;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .botonVerMas{
   display: flex;
   justify-content: center;
  }
  .quienesSomosParrafo{
    font-family: 'Raleway', sans-serif;
    color: #6c5d35;
    font-size: 1.3em;
    padding: 0px !important;
   }
   a{
     text-decoration: none !important;
   }
    /*------------------- NUESTROS SABORES ---------------------------*/
    #nuestrosSabores{
      background-color: #6c5d35;
      width: 100%;
      margin-top: 0.3%;
      margin-bottom: 0.3%;
    }
    #selloDiv{
      height: 4em;
    }
    #sello{
      display: block;
      margin: 0 auto;
      z-index: 99999;
      position: relative;
      bottom: 1em;
      height: 300%;
    }
      /*------------------- BOTELLAS ---------------------------*/
      #botellas{
        background-image:url(../assets/textureBlack.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .divBotellas{
        display: flex;
        justify-content: space-around;
      }
      .botellasRunas{
        width: 50%;
        height: 100%;
        display: flex;
        margin: 0 auto;
      }
      .botellas2{
        margin-top: 3%;
      }
      #blonde:hover{
       content: url(../assets/nBlonde.png);

      
      }
      #hidromiel:hover{
        content: url(../assets/nHidro.png);
      
      }
      #ginger:hover{
        content: url(../assets/nGinger.png);
 
      }
      #cardamomo:hover{
        content: url(../assets/nCarda.png);

      }
      #mandarin:hover{
        content: url(../assets/nMandarin.png);
        
      }
      #ipa:hover{
        content: url(../assets/nIpa.png);
       
      }
      #choco:hover{
        content: url(../assets/nChoco.png);
      
       
      }
      #baltic:hover{
        content: url(../assets/nBaltic.png);
        
      }
/*------------------- BOTELLAS FINAL---------------------------*/
      #botellasFinal{
        height: 50%;
        width: 100%;
      }
/*------------------- PRODUCTOS SUGERIDOS---------------------------*/
      #prodSugeridos{
        margin-top: 1%;
        background-image: url(../assets/ZenBG.png);
      }
      .subtitulos{
        font-family: viking;
        font-size:6em;
        text-align:center;
        color: #6c5d35;
      }
      .imgProductos{
        width: 50%;
        display: flex;
        margin:0 auto;
      }
      .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
          margin-bottom: 3%;
        }
      
      .textoProductoDestacados{
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        font-weight: bold;
        color: #6c5d35;
      }
      .btnCarrito{
        background-color: #6c5d35;
        color: #e8d6bb;
        font-family: 'Raleway', sans-serif;
        border: 0px;
        border-radius: 3px;
        height:40px;
        width: 60%;
      }
      .btnCarrito:hover{
        color: #ec9616;
      }
/*------------------- MAPA---------------------------*/
      #mapa{
        margin-top: 5%;
        background-image: url(../assets/ZenBG\ \(1\).png);
        background-position: center;
        background-size: 100%;
        width: 100%;
        overflow: hidden;
      }
.mapaIframe{
  display: flex;
  justify-content: flex-end;
  margin-top:1%;
  margin-bottom:1%;
}
#direccion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
}
.tituloDireccion{
  margin-top: 6%;
}
.textoDireccion{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  color: #6c5d35;
  text-align: center;
  display: flex;
  justify-content: center;
}
/*-------------------COMUNIDAD---------------------------*/
#comunidad{
  background-image: url(../assets/ZenBG.png);
}
.textoSuscripcion{
  font-family: viking;
  font-size: 3em;
  color: #6c5d35;
  text-align: center;
  display: flex;
  justify-content: center;
}
.formSuscripcion{
  display: flex;
  justify-content: center;
  align-items: center;
}
#suscripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email{
  font-family:'Raleway', sans-serif; ;
  color: #6c5d35;
  font-size: 1em;
}
.input{
  width: 50%;
  background-color: rgba(0,0,0,0);
  border: 1px solid #6c5d35;
  border-radius: 5px0;
  margin-bottom: 2%;
}
.btnSubmit{
  background-color: #6c5d35;
  color: #e8d6bb;
  font-family: 'Raleway', sans-serif;
  border: 0px;
  border-radius: 3px;
  height:40px;
  width: 50%;
}
.btnSubmit:hover{
  color: #ec9616;
}
#enviar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  margin: 0 auto;
}
#mensaje{
  font-family: viking;
  display: flex;
  justify-content: center;
  color: #6c5d35;
  font-size: 3rem;
}
.cervezaBoar{
  font-family: mjolnir;
  font-size:2em;
  font-weight: lighter;
  color: #6c5d35;
  text-align: center;
  letter-spacing: 2px;
}
.redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.redesBoton{
  width: 10%;
  display: flex;
  justify-content: center;
}
i{
  font-size: 2em;
  color: #6c5d35;
}
.footerFinal{
  background-color: #6c5d35;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.textoFooter{
  font-family: 'Raleway', sans-serif;
  color: #e8d6bb;
  font-size:1em;
  text-align: center;
}

/*-------------------RESPONSIVE 1200---------------------------*/
@media (max-width:1200px){
  .mapaIframe{
    display: flex;
    justify-content: center;
  }
  #direccion{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tituloDireccion{
    margin-top:0%;
  }
  .input{
    width: 100%;
  }
  .btnSubmit{
    width: 100%;
    height: 30px;
  }
  .divQuienesSomos{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
  }
  #estampaBoar {
    width: 60%;
    height: auto;
  }
  .btnCarrito{
    width:50%
  }
  #enviar{
    width: 16.5%;
  }
}

@media (max-width:700px){
  .runas{
    display: none;
  }
 iframe{
    width: 100%;
  }
  #video{
    margin-top: 1%;
  }
  .quienesSomosVideo{
    margin-bottom: 2%;
    margin-top: 1%;
  }
  .runasMobile{
    background: url(../assets/banner\ mobile.jpeg);
    padding: 0px !important;
    height:95vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float:none !important;
    
  }
  #estampaBoar{
    display: none;
  }
.divBotellas{
  flex-direction: column;
}
.quienesSomosTitulo{
  font-size: 4.5em;
  text-align: center;
}
.quienesSomosParrafo{
  margin-bottom: 8%;
}
#selloDiv{
  display: none;
}
.modal{
  width: 95%;
}
.btnCarrito{
  width: 52%;
  height: 30px;
}
#enviar{
  width: 52%;
}
.sidenav a{
  font-size: 3em;
}
.textoModal{
  font-size: 4.5em;
}
.contenido{
  margin:auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  height: auto;
}

.runasMedia{
  display: flex;
  flex-direction: row;
}
.formSuscripcion{
  margin-bottom: 1%;
}
.btnQuienesSomos{
  width: 100%;
}
  #mapaNo{
    display: none;
  }
  #direccion{
    padding: 0px !important
    ;
  }

  .tituloDireccion{
    font-size: 4em;
  }
  .textoDireccion{
    font-size: 1em;
  }
  .subtitulos{
    font-size: 3.5em;
  }
  .textoSuscripcion{
    font-size: 2em;
  }
  input{
    width: 100% !important;
  }
  .btnSubmit{
    width: 100%;
  }
  .cervezaBoar{
    font-size: 1.5em;
  }
  .i{
    font-size:1.3em;
  }
  .textoFooter{
    font-size: 0.8em;
  }
}